body.Normal, li.Normal, span.Normal, #tree {
    font-family: "HelveticaNeue","Helvetica Neue",sans-serif;
    font-size: 12.000000px;
    color: RGBA(58,58,58,1.000000);
}
span.Normal_link  {
    font-family: "HelveticaNeue","Helvetica Neue",sans-serif;
    font-size: 12.000000px;
    color: #0000ff;
}
p.Normal {
    margin-top: 0;
    margin-bottom: 6.0px;
}
li.Normal {
    margin-top: 0;
    margin-bottom: 0.5em;
}
body.Footer, li.Footer, span.Footer {
    font-family: "HelveticaNeue","Helvetica Neue",sans-serif;
    font-size: 12.000000px;
    color: RGBA(108,108,108,1.000000);
}
span.Footer_link  {
    font-family: "HelveticaNeue","Helvetica Neue",sans-serif;
    font-size: 12.000000px;
    color: #0000ff;
}
p.Footer {
    margin-top: 0;
    margin-bottom: 12.0px;
    border-top-style: solid;
    border-top-width: 1.0px;
    border-top-color: RGBA(58,58,58,1.000000);
    display: inline-block;
    width: 100%;
}
li.Footer {
    margin-top: 0;
    margin-bottom: 1.0em;
}
body.Heading2, li.Heading2, span.Heading2 {
    font-family: "HelveticaNeue","Helvetica Neue",sans-serif;
    font-size: 16.000000px;
    color: RGBA(58,58,58,1.000000);
}
span.Heading2_link  {
    font-family: "HelveticaNeue","Helvetica Neue",sans-serif;
    font-size: 16.000000px;
    color: #0000ff;
}
p.Heading2 {
    margin-top: 0;
    margin-bottom: 16.0px;
}
li.Heading2 {
    margin-top: 0;
    margin-bottom: 1.0em;
}
body.Heading1, li.Heading1, span.Heading1 {
    font-family: "HelveticaNeue-Light","Helvetica Neue",sans-serif;
    font-size: 27.000000px;
    color: RGBA(58,58,58,1.000000);
}
span.Heading1_link  {
    font-family: "HelveticaNeue-Light","Helvetica Neue",sans-serif;
    font-size: 27.000000px;
    color: #0000ff;
}
p.Heading1 {
    margin-top: 0;
    margin-bottom: 27.0px;
    border-bottom-style: solid;
    border-bottom-width: 1.0px;
    border-bottom-color: RGBA(58,58,58,1.000000);
    display: inline-block;
    width: 100%;
}
li.Heading1 {
    margin-top: 0;
    margin-bottom: 1.0em;
}
body.Bold, li.Bold, span.Bold {
    font-family: "HelveticaNeue-Bold","Helvetica Neue",sans-serif;
    font-size: 12.000000px;
    color: RGBA(58,58,58,1.000000);
}
span.Bold_link  {
    font-family: "HelveticaNeue-Bold","Helvetica Neue",sans-serif;
    font-size: 12.000000px;
    color: #0000ff;
}
p.Bold {
    margin-top: 0;
    margin-bottom: 6.0px;
}
li.Bold {
    margin-top: 0;
    margin-bottom: 0.5em;
}
body.BoldItalic, li.BoldItalic, span.BoldItalic {
    font-family: "HelveticaNeue-BoldItalic","Helvetica Neue",sans-serif;
    font-size: 12.000000px;
    color: RGBA(58,58,58,1.000000);
}
span.BoldItalic_link  {
    font-family: "HelveticaNeue-BoldItalic","Helvetica Neue",sans-serif;
    font-size: 12.000000px;
    color: #0000ff;
}
p.BoldItalic {
    margin-top: 0;
    margin-bottom: 6.0px;
}
li.BoldItalic {
    margin-top: 0;
    margin-bottom: 0.5em;
}
